<!DOCTYPE html>
<html>
  <head>
    <title>Weddingsite</title>
    <%= csrf_meta_tags %>
    <!-- Custom import of Google Font 'Alegreya'-->
    <link href="//fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrap navigation bar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav">
            <!-- Ruby way of creating links -->
            <li><%= link_to "WELCOME", "/" %></li>
            <li><%= link_to "CEREMONY / RECEPTION", "/ceremony_reception" %></li>
            <li><%= link_to "OUR STORY", "/story" %></li>
            <li><%= link_to "REGISTRIES", "/registries" %></li>
            <!-- HTML way of creating links -->
            <!-- <li><a href="/">WELCOME</a></li> -->
            <!-- <li><a href="/">CEREMONY / RECEPTION</a></li> -->
            <!-- <li><a href="/story">OUR STORY</a></li> -->
            <!-- <li><a href="/">REGISTRIES</a></li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>


    <%= yield %>

  </body>
</html>
